@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i&subset=greek,greek-ext');
/* Fira Code */
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: My_FiraCode;
    src: local('Fira Code'),
         local('Fira-Code'),
         local('FiraCode'),
         url(/assets/fonts/FiraCode/FiraCode-Regular.otf); }
@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: My_FiraCode;
    src: local('Fira Code Medium'),
         local('Fira-Code-Medium'),
         local('FiraCode-Medium'),
         url(/assets/fonts/FiraCode/FiraCode-Medium.otf); }
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: My_FiraCode;
    src: local('Fira Code Bold'),
         local('Fira-Code-Bold'),
         local('FiraCode-Bold'),
         url(/assets/fonts/FiraCode/FiraCode-Bold.otf); }

// Variables
$HEAD_FONT_FAMILY: 'Open Sans', sans-serif;
$BODY_FONT_FAMILY: 'IBM Plex Sans', sans-serif;
$MONO_FONT_FAMILY: My_FiraCode, 'Roboto Mono', monospace, fixed;
