@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i&subset=greek,greek-ext');
/* Barlow */
//@font-face {
//    font-style: normal;
//    font-weight: 200;
//    font-family: My_Barlow;
//    src: local('Barlow ExtraLight'),
//         local('Barlow-ExtraLight'),
//         url(/assets/fonts/Barlow/Barlow-ExtraLight.ttf); }
//@font-face {
//    font-style: italic;
//    font-weight: 300;
//    font-family: My_Barlow;
//    src: local('Barlow ExtraLight Italic'),
//         local('Barlow-ExtraLight-Italic'),
//         url(/assets/fonts/Barlow/Barlow-ExtraLightItalic.ttf); }
/*
@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: My_Barlow;
    src: local('Barlow Light'),
         local('Barlow-Light'),
         url(/assets/fonts/Barlow/Barlow-Light.ttf); }
@font-face {
    font-style: italic;
    font-weight: 300;
    font-family: My_Barlow;
    src: local('Barlow Light Italic'),
         local('Barlow-Light-Italic'),
         url(/assets/fonts/Barlow/Barlow-LightItalic.ttf); }
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: My_Barlow;
    src: local('Barlow Regular'),
         local('Barlow-Regular'),
         url(/assets/fonts/Barlow/Barlow-Regular.ttf); }
@font-face {
    font-style: italic;
    font-weight: 400;
    font-family: My_Barlow;
    src: local('Barlow Italic'),
         local('Barlow-Italic'),
         url(/assets/fonts/Barlow/Barlow-Italic.ttf); }
@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: My_Barlow;
    src: local('Barlow SemiBold'),
         local('Barlow-SemiBold'),
         url(/assets/fonts/Barlow/Barlow-SemiBold.ttf); }
@font-face {
    font-style: italic;
    font-weight: 500;
    font-family: My_Barlow;
    src: local('Barlow SemiBold Italic'),
         local('Barlow-SemiBold-Italic'),
         url(/assets/fonts/Barlow/Barlow-SemiBoldItalic.ttf); }
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: My_Barlow;
    src: local('Barlow Bold'),
         local('Barlow-Bold'),
         url(/assets/fonts/Barlow/Barlow-Bold.ttf); }
@font-face {
    font-style: italic;
    font-weight: 700;
    font-family: My_Barlow;
    src: local('Barlow Bold Italic'),
         local('Barlow-Bold-Italic'),
         url(/assets/fonts/Barlow/Barlow-BoldItalic.ttf); }
         */
//@font-face {
//    font-style: normal;
//    font-weight: 900;
//    font-family: My_Barlow;
//    src: local('Barlow Black'),
//         local('Barlow-Black'),
//         url(/assets/fonts/Barlow/Barlow-Black.ttf); }

/* Fira Code */
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: My_FiraCode;
    src: local('Fira Code'),
         local('Fira-Code'),
         local('FiraCode'),
         url(/assets/fonts/FiraCode/FiraCode-Regular.otf); }
@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: My_FiraCode;
    src: local('Fira Code Medium'),
         local('Fira-Code-Medium'),
         local('FiraCode-Medium'),
         url(/assets/fonts/FiraCode/FiraCode-Medium.otf); }
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: My_FiraCode;
    src: local('Fira Code Bold'),
         local('Fira-Code-Bold'),
         local('FiraCode-Bold'),
         url(/assets/fonts/FiraCode/FiraCode-Bold.otf); }

// Variables
$HEAD_FONT_FAMILY: 'Open Sans', sans-serif;
$BODY_FONT_FAMILY: 'IBM Plex Sans', sans-serif;
$MONO_FONT_FAMILY: My_FiraCode, 'Roboto Mono', monospace, fixed;
