@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i&subset=greek,greek-ext");
/* Barlow */
/*
@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: My_Barlow;
    src: local('Barlow Light'),
         local('Barlow-Light'),
         url(/assets/fonts/Barlow/Barlow-Light.ttf); }
@font-face {
    font-style: italic;
    font-weight: 300;
    font-family: My_Barlow;
    src: local('Barlow Light Italic'),
         local('Barlow-Light-Italic'),
         url(/assets/fonts/Barlow/Barlow-LightItalic.ttf); }
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: My_Barlow;
    src: local('Barlow Regular'),
         local('Barlow-Regular'),
         url(/assets/fonts/Barlow/Barlow-Regular.ttf); }
@font-face {
    font-style: italic;
    font-weight: 400;
    font-family: My_Barlow;
    src: local('Barlow Italic'),
         local('Barlow-Italic'),
         url(/assets/fonts/Barlow/Barlow-Italic.ttf); }
@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: My_Barlow;
    src: local('Barlow SemiBold'),
         local('Barlow-SemiBold'),
         url(/assets/fonts/Barlow/Barlow-SemiBold.ttf); }
@font-face {
    font-style: italic;
    font-weight: 500;
    font-family: My_Barlow;
    src: local('Barlow SemiBold Italic'),
         local('Barlow-SemiBold-Italic'),
         url(/assets/fonts/Barlow/Barlow-SemiBoldItalic.ttf); }
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: My_Barlow;
    src: local('Barlow Bold'),
         local('Barlow-Bold'),
         url(/assets/fonts/Barlow/Barlow-Bold.ttf); }
@font-face {
    font-style: italic;
    font-weight: 700;
    font-family: My_Barlow;
    src: local('Barlow Bold Italic'),
         local('Barlow-Bold-Italic'),
         url(/assets/fonts/Barlow/Barlow-BoldItalic.ttf); }
         */
/* Fira Code */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: My_FiraCode;
  src: local("Fira Code"), local("Fira-Code"), local("FiraCode"), url(/assets/fonts/FiraCode/FiraCode-Regular.otf); }
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: My_FiraCode;
  src: local("Fira Code Medium"), local("Fira-Code-Medium"), local("FiraCode-Medium"), url(/assets/fonts/FiraCode/FiraCode-Medium.otf); }
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: My_FiraCode;
  src: local("Fira Code Bold"), local("Fira-Code-Bold"), local("FiraCode-Bold"), url(/assets/fonts/FiraCode/FiraCode-Bold.otf); }
html, body {
  height: 100%; }

body {
  background-image: url("/assets/svg/pattern.svg");
  background-repeat: repeat;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif; }
  body a {
    color: #0000EE;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
  body p {
    line-height: 24px; }
  body h1 {
    margin-bottom: 36px; }
  body code {
    font-size: 13px; }

.docs-menu {
  width: 25%;
  float: left;
  -webkit-box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2); }

.docs-menu-head {
  margin: 0;
  padding: 16px;
  background: orange;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: darkorange;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: darkorange; }
  .docs-menu-head h1 {
    font-size: 300%; }
  .docs-menu-head h1, .docs-menu-head h2, .docs-menu-head h3, .docs-menu-head h4, .docs-menu-head h5, .docs-menu-head h6 {
    border: none; }
  .docs-menu-head a {
    color: white;
    font-weight: normal;
    text-decoration: none; }
    .docs-menu-head a:hover {
      text-decoration: underline; }

.docs-menu-body {
  margin: 0;
  padding: 16px;
  color: #333;
  background: white;
  border-width: 1px;
  border-style: solid;
  border-color: darkgray;
  border-top: none; }
  .docs-menu-body h3 {
    color: gray;
    margin-top: 4px;
    font-size: 11px;
    font-weight: normal;
    font-family: "IBM Plex Sans", sans-serif; }
  .docs-menu-body li {
    font-size: 11px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin-left: -24px;
    list-style-position: outside;
    list-style-type: none; }
    .docs-menu-body li a {
      color: black;
      font-weight: normal;
      text-decoration: none; }
      .docs-menu-body li a:hover {
        text-decoration: underline;
        color: gray; }

.page-frame {
  padding-left: 16px;
  padding-right: 16px;
  min-width: 600px;
  max-width: 800px;
  margin: 0 auto; }

.page {
  margin: 24px;
  -webkit-box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2); }

.page-head {
  margin: 0;
  padding: 32px;
  background: orange;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: darkorange;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: darkorange; }
  .page-head h1 {
    font-size: 300%; }
  .page-head h1, .page-head h2, .page-head h3, .page-head h4, .page-head h5, .page-head h6 {
    border: none; }

.page-body {
  margin: 0;
  padding: 32px;
  color: #333;
  background: white;
  border-width: 1px;
  border-style: solid;
  border-color: darkgray; }

h1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  font-size: 200%; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: "Open Sans", sans-serif; }

code, pre {
  font-size: 16px;
  font-family: My_FiraCode, "Roboto Mono", monospace, fixed; }

footer {
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
  text-align: center; }

pre.highlight {
  overflow-x: auto;
  border-radius: 4px;
  background: #F7F7F7;
  box-shadow: inset -2px 2px 6px #AAA; }

blockquote {
  border-width: 1px;
  border-color: #ddd;
  border-style: dashed;
  font-size: 150%;
  margin: 16px;
  padding: 4px 40px;
  display: block;
  position: relative; }

blockquote::before {
  content: "";
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-image: url("/assets/svg/genericons-neue/quote.svg");
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

blockquote::after {
  content: ""; }

blockquote p {
  margin-top: 0;
  margin-bottom: 0; }

/* https://github.com/richleland/pygments-css/blob/master/vs.css */
.highlight .hll {
  background-color: #ffffcc; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #008000; }

/* Comment */
.highlight .err {
  border: 1px solid #FF0000; }

/* Error */
.highlight .k {
  color: #0000ff; }

/* Keyword */
.highlight .ch {
  color: #008000; }

/* Comment.Hashbang */
.highlight .cm {
  color: #008000; }

/* Comment.Multiline */
.highlight .cp {
  color: #0000ff; }

/* Comment.Preproc */
.highlight .cpf {
  color: #008000; }

/* Comment.PreprocFile */
.highlight .c1 {
  color: #008000; }

/* Comment.Single */
.highlight .cs {
  color: #008000; }

/* Comment.Special */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gh {
  font-weight: bold; }

/* Generic.Heading */
.highlight .gp {
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  font-weight: bold; }

/* Generic.Subheading */
.highlight .kc {
  color: #0000ff; }

/* Keyword.Constant */
.highlight .kd {
  color: #0000ff; }

/* Keyword.Declaration */
.highlight .kn {
  color: #0000ff; }

/* Keyword.Namespace */
.highlight .kp {
  color: #0000ff; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #0000ff; }

/* Keyword.Reserved */
.highlight .kt {
  color: #2b91af; }

/* Keyword.Type */
.highlight .s {
  color: #a31515; }

/* Literal.String */
.highlight .nc {
  color: #2b91af; }

/* Name.Class */
.highlight .ow {
  color: #0000ff; }

/* Operator.Word */
.highlight .sa {
  color: #a31515; }

/* Literal.String.Affix */
.highlight .sb {
  color: #a31515; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #a31515; }

/* Literal.String.Char */
.highlight .dl {
  color: #a31515; }

/* Literal.String.Delimiter */
.highlight .sd {
  color: #a31515; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #a31515; }

/* Literal.String.Double */
.highlight .se {
  color: #a31515; }

/* Literal.String.Escape */
.highlight .sh {
  color: #a31515; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #a31515; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #a31515; }

/* Literal.String.Other */
.highlight .sr {
  color: #a31515; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #a31515; }

/* Literal.String.Single */
.highlight .ss {
  color: #a31515; }

/* Literal.String.Symbol */
